:host {
  display: block;
  width: 100%;
  & input {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    margin: 5px auto;
    box-sizing: border-box;
  }
  & select,
  button {
    width: 100%;
    margin: auto;
    display: block;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
  }
}

.stock-selector__error {
  background-color: #b52d30;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 0 0 3px 3px;
  line-height: 1;
  padding: 6px 10px;
  margin-top: -1px;
}
