<div class="form-wrapper">
  <div class="form-wrapper__column">
    <pre><b>{{ form.value | json }}</b></pre>
  </div>
  <div class="form-wrapper__column stock-inventory">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <stock-branch [parent]="form"></stock-branch>
      <stock-selector
        (added)="addStock($event)"
        [parent]="form"
        [products]="products"
      ></stock-selector>
      <stock-products
        (removed)="removeStock($event)"
        [parent]="form"
        [map]="productMap"
      ></stock-products>

      <button [disabled]="" class="order-btn" type="submit">Order Stock</button>
    </form>
  </div>
</div>
