.form-wrapper {
  display: grid;
  align-content: space-evenly;
  grid-template-columns: 25fr 75fr;
  column-gap: 10px;
}
.form-wrapper__column {
  border: 1px solid #3f3f3f;
  padding: 4px;
}
.stock-inventory {
  padding: 5px;
}

.order-btn {
  background-color: #9e61c8;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 3px;
  margin: 12px 0;
  cursor: pointer;
}
