<div class="stock-product" [formGroup]="parent">
  <div formArrayName="stock">
    <div *ngFor="let item of stocks; let idx = index">
      <div class="stock-product__content" [formGroupName]="idx">
        <div class="stock-product__name">
          <b>{{ getProduct(item.value.product_id) | json }}</b>
        </div>
        <input
          type="number"
          step="10"
          max="1000"
          min="10"
          formControlName="quantity"
        />
        <button (click)="removeItem(item, idx)" type="button">Remove</button>
      </div>
    </div>
  </div>
</div>
